<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="style.css">
    <title>Select a Workout</title>
  </head>
  <body>
    <nav class="topnav">
      <a href="/home" class="navlinks active">Heim </a>
      <a href="/user" class="navlinks"><%= user %></a>
      <a href="/logout" class="navlinks">Logg ut </a> 
      <a href="/admin" class="navlinks">Admin </a>
    </nav>
    <h1>Select a Workout</h1> 
    <form action="/workouts" method="post">
      <label for="category">Category:</label>
      <select name="category" id="category">
        <% workouts.forEach((workout) => { %>
        <option value="<%= workout.workoutId %>"><%= workout.workoutName %> - <%= workout.duration %> min</option>
        <% }) %>
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
