<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a Workout</title>
  </head>
  <body>
    <nav>
      <div class="navlinks">
        <a href="/home">Heim</a>
        <p><%= user %></p>
        <a href="/logout">Logg ut</a> 
        <a href="/admin">Admin</a>
      </div>
    </nav>
    <h1>Select a Workout</h1> 
    <form action="/workouts" method="post">
      <label for="category">Category:</label>
      <select name="category" id="category">
        <% workouts.forEach((workout) => { %>
        <option value="<%= workout.workoutId %>"><%= workout.workoutName %> - <%= workout.duration %> min</option>
        <% }) %>
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
